<div class="fancliq__about">
    <div class="fancliq__about__camera__icon icon-about-us-camera"></div>
    <div class="fancliq__about__hero">
        <div class="fancliq__about__hero__items">
            <span class="fancliq__about__hero__item">
                Be Passionate
            </span>
            <span class="fancliq__about__hero__item">
                Get paid to do what you Love
            </span>
            <span class="fancliq__about__hero__item">
                Shoot Pictures
            </span>
        </div>
    </div>
    <div class="fancliq__about__body">
        <div class="fancliq__about__header">
            About Fancliq
        </div>
        <p class="fancliq__about__item">
            Fancliq is image centric social media for youth sports that is built on a "gig economy" model for photographers.  We offer guaranteed income to photographers.
        </p>
        <p class="fancliq__about__item">
            We pay photographers to shoot youth sports on a per game basis. Our photographers determine what event, "where" and "when" to shoot. Fancliq photographers are free to shoot as often as they want. Our photographers don't have to own a studio, market, edit, sell or deliver the images. They get to do what they love, shoot pictures and get paid for doing so.
        </p>
        <p class="fancliq__about__item">
            Fancliq does all the drudgery work to process the images and deliver them as beautiful photographs to the parent's mobile phone.
        </p>
        <p class="fancliq__about__item">
            Ask yourself, "Who wouldn't want a Free professional action photograph of their child playing in the game today delivered to their phone?"
        </p>
    </div>
    <div class="fancliq__about__footer">
        <div class="fancliq__about__footer__camera"></div>
        <div class="fancliq__about__footer__button">
            <a href="{{configs.pages.register.url}}" class="fancliq__primary-button">
                <span class="fancliq__primary-button__text">
                    Join our team
                </span>
            </a>
        </div>
    </div>
</div>