<div class="fancliq__privacy-policy">
    <div class="fancliq__primary__header fancliq__privacy__header">
        Privacy Policy
    </div>
    <p>
        This Privacy Policy describes how and when FANCLIQ collects, uses, and shares your information when you use our websites and mobile applications (the "Services.") FANCLIQ receives your information through our mobile applications, websites, email notifications, and other interactions with our Services. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize FANCLIQ to use your information in the United States and any other country where FANCLIQ operates.
    </p>
    <ol>
        <li>
            <p>
                Personal Information Collection and Use
            </p>
            <p>
                FANCLIQ collects personal information from visitors to our Website that fill out a contact form. The personal information collected via the contact form could include, for example, first and last name, address, telephone number, and email address.  If you fill out the contact form, the personal information provided by you to FANCLIQ could be used by us to initiate contact with you regarding your request to process your order, deliver services and help provide better services to you, send you newsletters and updates and other information, update our records, communicate with you about our products and services including new products and services which we think might interest you, invite you to participate in a product or service-related surveys and generally maintain your accounts with us. We also collect personal information you provide in connection with your use of our mobile application Services. The types of personal information we may collect include your name, email address, phone number birthday, Twitter and/or Facebook usernames, location, use information regarding how you use our Services and those of our partners and browser information. The personal information you provide is used for such purposes as allowing you to set up a user account and profile, improving the content of the Services, customizing the advertising and content you see (including third-party advertising and content), and communicating with you about specials and new features. Your Services account will be associated with your email and this account will be used for all our Services that you use. We may also collect non-personally identifiable information through automated means, as described below.   Because the nature of our business does not appeal to children under the age of 13, we do not knowingly acquire or receive any information from children.
            </p>
        </li>
        <li>
            <p>
                Location Information
            </p>
            <p>
                You may tell us your exact location if you choose to enable your computer or mobile device to send us location information. We automatically receive your location when you use the Services. We use various technologies to determine location, such as location services of the applicable operating system or browser and sensor data from your device that may, for example, provide information on nearby Wi-Fi access points and cell towers.
            </p>
        </li>
        <li>
            <p>
                Non-Personal Information
            </p>
            <p>
                In addition to personal information, we may collect certain non­personally identifiable information. Non­personally identifiable information is information that does not personally identify you, including anonymous information and aggregate data.  Examples include IP addresses, browser types, domain names, and other anonymous statistical data regarding your use of the Website. We may use this data in a way that does not disclose any of your personally identifiable information, including, but not limited to, for purposes of developing derivative product and/or service offerings. We may use this information to understand better how our visitors use our site and our Services, research our visitors’ and user’s demographics, interest, and behavior, improve the site and Services, provide customized services and information, determine your location and for other similar purposes. We may link this information to personal information you submit while on our site and using our Services. We may use this non-personally identifiable information and share non-personally identifiable information with others for information or promotional purposes, each to the extent permitted by law.
            </p>
        </li>
        <li>
            <p>
                Links
            </p>
            <p>
                We may keep track of how you interact with links across our Services, including our email notifications, third-party services, and client applications, by redirecting clicks or through other means. We do this to help improve our Services by learning from user behavior to make improvements.
            </p>
        </li>
        <li>
            <p>
                Cookies
            </p>
            <p>
                Like many websites, we use "cookie" technology to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services. A cookie is a small data file that is transferred to your computer’s hard disk. We may link information we store in cookies to personal information you submit while on our site. Cookies also allow us to make your visit to our Website easier by recognizing you when you return and help to provide you with a more customized experience.  FANCLIQ may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. If you do not want cookies from FANCLIQ or other websites, you can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies.
            </p>
        </li>
        <li>
            <p>
                Log Data
            </p>
            <p>
                Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, use the mobile app, or interact with our email notifications. FANCLIQ uses Log Data to provide our Services and to measure, customize, and improve them.
            </p>
        </li>
        <li>
            <p>
                Web Analytics and Internet-Based Advertisers
            </p>
            <p>
                To help us understand our interactions with you, we may permit web analytics providers and other providers to collect, process and track information on our website and through our Services using the technologies described above. We may also share personal information with these companies.  We may have similar arrangements with internet-based advertisers that might display ads when you visit our website and use our Services.  These companies may collect personal and other information about your visits to this and other sites and locations you visit using our Services, to provide ads about products and services that might be of interest to you. The privacy policies and practices of these third party providers will govern their use and collection of this information.
            </p>
        </li>
        <li>
            <p>
                Social Media Widgets
            </p>
            <p>
                Our Website includes social media features such as the Facebook "Like" button and LinkedIn (that might include widgets such as the share this button or other interactive mini-programs).  These features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the feature to function properly.  These social media features are either hosted by a third party or hosted directly on our Website.  Your interactions with these features are governed by the privacy policy of the company providing it.
            </p>
        </li>
        <li>
            <p>
                Do Not Track
            </p>
            <p>
                Our Website is not designed to respond to "do not track" requests from browsers.
            </p>
        </li>
        <li>
            <p>
                Third-Party Service Providers
            </p>
            <p>
                FANCLIQ uses a variety of third-party services to help provide our Services, such as hosting our various blogs and wikis, and to help us understand the use of our Services, such as Google Analytics. These third-party service providers may collect information sent by your browser as part of a web page request, such as cookies or your IP address.
            </p>
        </li>
        <li>
            <p>
                Information Sharing and Disclosure
            </p>
            <ol type="a">
                <li>
                    <p>
                        Service Providers
                    </p>
                    <p>
                        We engage service providers to perform functions and provide services to us in the United States and abroad. We may share your personal information with such service providers subject to confidentiality obligations consistent with this Privacy Policy, and on the condition that the third parties use your personal information only on our behalf and pursuant to our instructions. Law and Harm: Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request or otherwise in cooperation with an ongoing investigation by a governmental authority or agency; to protect the safety of any person; to address fraud, security or technical issues or to enforce or apply our <a href="{{configs.pages.terms.url}}">Terms of Service</a> and Privacy Policy; or to protect FANCLIQ’s rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.
                    </p>
                </li>
                <li>
                    <p>
                        Business Transfers
                    </p>
                    <p>
                        We may share your personal information with our parent company, subsidiaries, joint ventures or other companies under common control that we may have now or in the future, in which case we will require them to honor this Privacy Policy.  In the event that FANCLIQ is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this Privacy Policy will apply to your information as transferred to the new entity or the new entity’s privacy policy.
                    </p>
                </li>
                <li>
                    <p>
                        Non-Private or Non-Personal Information: We may share or disclose your non-private, aggregated or otherwise non-personal information, such as the number of users who clicked on a particular link (even if only one did).
                    </p>
                </li>
                <li>
                    <p>
                        We do not collect sensitive personal information (such as medical or health conditions, racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union membership or information specifying the sex life of an individual), but if we were to do so, we would require opt-in consent for the sharing of any sensitive personal information.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                Security Measures
            </p>
            <p>
                FANCLIQ works hard to protect data it collects from loss, misuse, unauthorized access or disclosure, alteration and destruction.  FANCLIQ uses Secured Socket Layer (SSL) or other comparable technology to encrypt any sensitive information that you provide to us. In addition, all contact information provided by you is stored by FANCLIQ in a password protected database on a secure server. However, no Internet or e­mail transmission is ever fully secure or error free.  In particular, e­mail sent to or from our site may not be secure, and you should therefore take special care in deciding what information you send to us via e­mail. Although we take commercially reasonable measures to safeguard against unauthorized disclosures of information, we cannot assure you that your personal information will never be disclosed in a manner that is inconsistent with this Privacy Policy.  You acknowledge that we are not responsible for any intercepted information sent via the Internet.
            </p>
        </li>
        <li>
            <p>
                Accessing, Correcting or Updating Personal Information
            </p>
            <ol type="a">
                <li>
                    <p>
                        You have the right to access your personal information in order to correct, amend, update or delete information that is inaccurate or to request that we no longer use your personal information.   If you have any questions or concerns regarding FANCLIQ’s collection, use or disclosure of your personal information or if you wish to change, amend, delete or review your personal information, please send a letter or email with your request and current contact information to FANCLIQ at <a href="mailto:support@fancliq.com">support@fancliq.com</a>.
                    </p>
                </li>
                <li>
                    <p>
                        We may reject requests that are unreasonably repetitive, require disproportionate technical effort, risk the privacy of others or would be extremely impractical.  Where we can provide information access and correction, we will do so for free, except where it would require a disproportionate effort.  When updating your personal information, we may ask you to verify your identity before we can act on your request.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                Changes to this Policy
            </p>
            <p>
                We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
            </p>
        </li>
    </ol>
    <p>
        Effective: September 1, 2017
    </p>
</div>