<div class="fancliq__terms">
    <div class="fancliq__primary__header fancliq__terms__header">
        Terms of Service Policy
    </div>
    <p>
        These Terms of Service ("Terms") govern your access to and use of FANCLIQ, including any FANCLIQ mobile applications and websites (the "Services"), and any information, video, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "Content"). Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.
    </p>
    <ol>
        <li>
            <p>
                Basic Terms
            </p>
            <p>
                You are responsible for your use of the Services and for any consequences thereof. You may use the Services only if you can form a binding contract with FANCLIQ and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. The Services that FANCLIQ provides are always evolving and the form and nature of the Services that FANCLIQ provides may change from time to time without prior notice to you. In addition, FANCLIQ may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. The Services may include advertisements, which may be targeted to the Content or information on the Services, queries made through the Services, or other information. The types and extent of advertising by FANCLIQ on the Services are subject to change.
            </p>
        </li>
        <li>
            <p>
                Privacy
            </p>
            <p>
                Any information that you provide to FANCLIQ is subject to our <a href="{{configs.pages.privacy_policy.url}}">Privacy Policy</a>, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the <a href="{{configs.pages.privacy_policy.url}}">Privacy Policy</a>) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by FANCLIQ. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your FANCLIQ account, which you may not be able to opt-out from receiving.
            </p>
        </li>
        <li>
            <p>
                Content on the Services
            </p>
            <p>
                All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may, but are not required to monitor or control the Content posted via the Services and we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. Under no circumstances will FANCLIQ be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.
            </p>
        </li>
        <li>
            <p>
                Your License to Use the Services
            </p>
            <p>
                FANCLIQ gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software and Content that is provided to you by FANCLIQ as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by FANCLIQ, in the manner permitted by these Terms.
            </p>
        </li>
        <li>
            <p>
                FANCLIQ Rights
            </p>
            <p>
                All right, title, and interest in and to the Services (including all Content) are and will remain the exclusive property of FANCLIQ and its licensors. The Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. FANCLIQ reserves all rights not expressly granted in these Terms. You acknowledge and agree that any feedback, comments, content or suggestions you may provide regarding FANCLIQ, or the Services is entirely voluntary, is hereby assigned by you to FANCLIQ, and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
            </p>
        </li>
        <li>
            <p>
                Restrictions on Content and Use of the Services
            </p>
            <p>
                You may not do any of the following while accessing or using the Services: (i) access, tamper with, or use non-public areas of the Services, FANCLIQ’s computer systems, or the technical delivery systems of FANCLIQ’s providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (iii) access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by FANCLIQ (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with FANCLIQ (NOTE: crawling the Services is permissible if done in accordance with the provisions of the robots.txt file, however, scraping the Services without the prior consent of FANCLIQ is expressly prohibited); (iv) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; or (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Services.
            </p>
        </li>
        <li>
            <p>
                Ending These Terms
            </p>
            <p>
                The Terms will continue to apply until terminated by either you or FANCLIQ as follows. You may end your legal agreement with FANCLIQ at any time for any reason by deleting the app from your mobile device and discontinuing your use of the Services. We may suspend or terminate your accounts or cease providing you with all or part of the Services at any time for any reason, including, but not limited to, if we reasonably believe: (i) you have violated these Terms, (ii) you create risk or possible legal exposure for us; or (iii) our provision of the Services to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address associated with your account or through the Services the next time you attempt to access your account. In all such cases, the Terms shall terminate, including, without limitation, your license to use the Services, except that the following sections shall continue to apply: 5, 6, 7, 8, and 9. Nothing in this section shall affect FANCLIQ’s rights to change, limit or stop the provision of the Services without prior notice, as provided above in section 1.
            </p>
        </li>
        <li>
            <p>
                Disclaimers and Limitations of Liability
            </p>
            <p>
                Please read this section carefully since it limits the liability of FANCLIQ and its parents, subsidiaries, affiliates, related companies, officers, directors, employees, agents, representatives, partners, and licensors (collectively, the "FANCLIQ Entities"). Each of the subsections below only applies up to the maximum extent permitted under applicable law. Some jurisdictions do not allow the disclaimer of implied warranties or the limitation of liability in contracts, and as a result the contents of this section may not apply to you. Nothing in this section is intended to limit any rights you may have which may not be lawfully limited.
            </p>
            <ol type="a">
                <li>
                    <p>
                        The Services are Available "AS-IS"
                    </p>
                    <p>
                        Your access to and use of the Services and any Content is at your own risk. You understand and agree that the Services is provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, FANCLIQ ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. FANCLIQ Entities make no warranty and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services, or any Content; (iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services; (iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from FANCLIQ Entities or through the Services, will create any warranty not expressly made herein.
                    </p>
                </li>
                <li>
                    <p>
                        Links
                    </p>
                    <p>
                        The Services may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by FANCLIQ Entities of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.
                    </p>
                </li>
                <li>
                    <p>
                        Limitation of Liability
                    </p>
                    <p>
                        TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE FANCLIQ ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE FANCLIQ ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID FANCLIQ, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE FANCLIQ ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p>
                General Terms
            </p>
            <ol type="a">
                <li>
                    <p>
                        Waiver and Severability
                    </p>
                    <p>
                        The failure of FANCLIQ to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.
                    </p>
                </li>
                <li>
                    <p>
                        Controlling Law and Jurisdiction
                    </p>
                    <p>
                        These Terms and any action related thereto will be governed by the laws of the State of California without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in the federal or state courts located in the Sate of California, and you consent to the exclusive jurisdiction of and venue in such courts and waive any objection as to inconvenient forum. If you are a federal, state, or local government entity in the United States using the Services in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of California (excluding choice of law).
                    </p>
                </li>
                <li>
                    <p>
                        Entire Agreement
                    </p>
                    <p>
                        These Terms and our <a href="{{configs.pages.privacy_policy.url}}">Privacy Policy</a> are the entire and exclusive agreement between FANCLIQ and you regarding the Services (excluding any services for which you have a separate agreement with FANCLIQ that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between FANCLIQ and you regarding the Services. We may revise these Terms from time to time. If the revision, in our sole discretion, is material we will notify you via email or through the Services. If you do not wish to be bound by any such revisions to the Terms, you must end these Terms with us as set forth in Section 10 above. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms. These Services are operated and provided by FANCLIQ, Inc. If you have any questions about these Terms, please contact us at <a href="mailto:support@fancliq.com">support@fancliq.com</a>.
                    </p>
                </li>
            </ol>
        </li>
    </ol>
    <p>
        Effective: September 1, 2017
    </p>
</div>